body {
  text-align: center;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 160px;
  margin: 10px 0 0 0;
}

h2 {
  font-family: sans-serif;
  color: #333;
}

h3 {
  font-family: sans-serif;
  color: #333;
}