body {
  text-align: center;
  background-color: #a0c5e8;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 175px;
  color: #ffcccc;
  margin: 10px 0 0 0;
  text-shadow: 0px 0px 50px rgba(178, 125, 125, .5);
}

h2 {
  font-family: sans-serif;
  color: white;
}

h3 {
  font-family: sans-serif;
  color: white;
}

a {
  color: white;
}