body {
  text-align: center;
  /*background: rgb(160,197,232); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(160,197,232,1) 0%, rgba(203,235,255,1) 47%, rgba(255,255,255,1) 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,197,232,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(160,197,232,1) 0%,rgba(203,235,255,1) 47%,rgba(255,255,255,1) 100%); 
  background: -o-linear-gradient(top, rgba(160,197,232,1) 0%,rgba(203,235,255,1) 47%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(160,197,232,1) 0%,rgba(203,235,255,1) 47%,rgba(255,255,255,1) 100%); 
  background: linear-gradient(to bottom, rgba(160,197,232,1) 0%,rgba(203,235,255,1) 47%,rgba(255,255,255,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0c5e8', endColorstr='#ffffff',GradientType=0 );
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  font-size: 175px;
  color: #ffcccc;
  margin: 10px 0 0 0;
  text-shadow: 0px 0px 50px rgba(178, 125, 125, .5);
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 25px;
  color: white;
}

a {
  color: white;
}

input[type="text"] {
  text-align: center;
  font-size: 12px;
  width: 250px;
  padding: 4px;
  border: solid 1px #FFFFFF;
}
input[type="text"]:focus {
  border: solid 1px #000000;
}